/* Style for oldcars.html */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #e6ffe6;
}

body {
    background-image: url('Screenshot 2025-11-14 103539.png');
}

header {
    background: #1a1a1a;
    color: white;
    padding: 20px;
    text-align: center;
}


/* Navigation */

nav {
    background: #333;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.section {
    background: rgb(12, 98, 191);
    color: #2229b0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.options {
    margin-bottom: 15px;
    padding: auto;
}

select {
    padding: 8px;
    background-color: #1269c6ce;
    border: 1px solid #0cb1a0;
    shape-outside: circle();
    font-size: 1rem;
    color: #600e0e;
    box-shadow: inset 0 1px 3px rgba(174, 106, 3, 0.718);
}

.section h2 {
    color: #0c1825;
    margin-bottom: 10px;
    text-align: center;
    font-style: italic;
}

.new h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #7f0735;
    font-style: oblique;
}

.car-grid1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.car-card1 {
    background: #fff;
    padding: 15px;
    image-orientation: flip;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.car-card1 img {
    width: 100%;
    border-radius: 6px;
}


/*
body {
  background: url('Screenshot 2025-11-28 095054.png') no-repeat center center fixed;
  background-size: cover;

}
